.margin {
    margin-top: 14rem;
}

.margen {
    margin-bottom: 0.5rem;
}

.tarjeta{
    border-radius: 30px;
}
.botoncito {
    margin-left: 2.5px;
}
.img {
    height: 10%;
    width: 5%;
}
.ml{
    margin-left: 6px;
}